
#local-video {
    position: relative; 
    top: -220px;         
    left: 210px;        

}


.a {
    position: fixed;
    top: 30px;         
    left: 76%; 
    width: 360px; 
    height: 400px;;      
    border: 1px solid black;
    padding: 20px;
    padding-top: 90px;
    background-image: url('simple-gradation_120.png'); 
}

.b {
    color: black;
    top: -50px;
}