@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/

#wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}

a{
  color: #333;
}

/*========= particle js を描画するエリア設定 ===============*/

html,body{
  height: 100%;/*高さを100%にして描画エリアをとる*/
}
#particles-js, #particle {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1; /* 背面に配置 */
}

/* h2とbtn-containerを前面に配置 */
h2, .btn-container {
  position: relative;
  z-index: 2; /* 前面に配置 */
}