@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/

#wrapper p{
  padding:100px 0;
  text-align:center;

}

/*========= waveを描画するエリア設定 ===============*/


.wave{
  position: relative;
}

.wave:nth-child(1){
  background:#fff;  
}

.wave:nth-child(2){
  background:#ccc;  
}

.wave:nth-child(3){
  background:#43c0e4; 
}

.wave canvas{
    position: absolute;
    bottom: 0;
  left:0;
    width: 100%;
}

h2 {
  position: relative;
  padding: 1rem .5rem;
  top:300px;
  left:700px;
  font-size: 60px;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 10px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}


*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;

}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  
}

.btn-container {
  display: flex;
  justify-content: flex-start; /* 左側に配置 */
  align-items: flex-start;     /* 上側に配置 */
  height: 100vh;
  padding-top: 400px;  /* 50pxを上部に追加して下に少し移動させる */
  padding-left: 800px; /* 50pxを左部に追加して右に少し移動させる */
}
.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}



a.btn-gradient span {
  position: relative;
  z-index: 1;
}

a.btn-gradient:hover {
  color: #fff;
}

a.btn-gradient:hover:after {
  opacity: 0;
}
a.btn-gradient {
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(left, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  border-radius: 100vh;
}

a.btn-gradient:hover {
  -webkit-transform: skew(0);
  transform: skew(0);
  color: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

h1 {
  position: relative;/*相対位置*/
  padding-left: 1.2em;/*アイコン分のスペース*/
  line-height: 1.4;/*行高*/
  color: #7b6459;/*文字色*/
}

h1:before {
  font-family: "Font Awesome 5 Free";
  content: "\f1b0";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 1em;/*サイズ*/
  left: 0;/*アイコンの位置*/
  top: 0;/*アイコンの位置*/
  color: #ff938b; /*アイコン色*/
}

.ribbon6 {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 7px 0;
  font-size: 18px;
  background: #acd879;
  color: #FFF;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.ribbon6 h3 {
  margin: 0;
  padding: 0 30px;
  border-top: dashed 2px rgba(255, 255, 255, 0.5);
  border-bottom: dashed 2px rgba(255, 255, 255, 0.5);
  line-height: 42px;
}

.ribbon6:before, .ribbon6:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon6:before {
  top: -2px;
  left: -2px;
  border-width: 32px 0px 32px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon6:after {
  top: -2px;
  right: -2px;
  border-width: 32px 15px 32px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.fuchidori {
	color: #ff88cf;
	font-weight: bold;
	font-size: 3em;
  background: linear-gradient(#FFDEE9, white, #B5FFFC);
  padding-left: 120px;
}

.menuContainer {
  width: 33.33%;
  float: left;
  box-sizing: border-box; /* paddingやborderがwidthに含まれるように */
}
.iconContainer {
  top: 10.33%;
  float: left;
  box-sizing: border-box; /* paddingやborderがwidthに含まれるように */
}

.whiteText {
  color: white;
}

.gothicFont {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 40px;
  margin-left: -100px;
}